ADMIN_TELEGRAM_IDS=
ALICEEGE_API_URL=
ALICEEGE_ID_CLIENT_ID=
ALICEEGE_ID_CLIENT_SECRET=
ALICEEGE_ID_TOKEN_URL=
EMAIL_PASSWORD=
EMAIL_SERVICE=
EMAIL_USER=
JWT_REFRESH_SECRET=
JWT_SECRET=
SMTP_HOST=
SMTP_PORT=
SMTP_SECURE=
TELEGRAM_BOT_TOKEN=
TELEGRAM_BOT_USERNAME=
URLPAY_API_KEY=
URLPAY_API_URL=
URLPAY_SECRET_KEY=
URLPAY_SHOP_ID=
VITE_API_URL=