ALICEEGE_ID_TOKEN_URL=https://id.aliceege.site/realms/aliceege/protocol/openid-connect/token
ALICEEGE_ID_CLIENT_ID=<из-сообщения>
ALICEEGE_ID_CLIENT_SECRET=<из-сообщения>
ALICEEGE_API_URL=https://new-admin.aliceege.site
